/* 
:root {
  --accent-primary: #68d391;
  --text-primary: #edf2f7;
  --border-divider: #2d3748;
  --card-bg: #1a202c;
} */

.resume-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-bg);
  color: var(--text-primary);
  padding: 13px 20px;
  border-bottom: 1px solid var(--border-divider);
}

.resume-topbar-title {
  font-size: 22px;
  font-weight: bold;
}

.resume-avatar {
  border-radius: 50%;
  border: 2px solid var(--accent-primary);
}
