.tuf-sidebar {
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background: rgba(36, 39, 43, 0.85);
  background-color: var(--dark-card);
  backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 0;
  transition: width 0.3s ease;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
}

.tuf-sidebar-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tuf-menu-item-logo img {
  height: 3rem;
  border-radius: 50%;
}

.tuf-menu-item {
  height: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  padding: 10px 0;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tuf-menu-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100%;
  height: 100%;
}

.tuf-menu-item:hover {
  background-color: rgba(131, 104, 211, 0.185);
  color: #fff;
}

.tuf-menu-item.tuf-active {
  background-color: rgba(131, 104, 211, 0.185);
  color: var(--primary-icon);
}

.tuf-menu-icon {
  font-size: 1.4rem;
  transition: transform 0.2s ease;
}

.tuf-menu-item:hover .tuf-menu-icon {
  transform: scale(1.1);
}

.tuf-menu-item span {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: inherit;
}

.tuf-sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.tuf-theme-menu-opt {
  position: absolute;
  bottom: 10rem;
  left: 80px;
  background-color: var(--upload-bg);
  border: 1px solid var(--accent-primary);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0;
  z-index: 2999;
  min-width: 180px;
  font-family: var(--font-primary);
  transition: all 0.2s ease;
 
}

.tuf-theme-option {
  padding: 10px 16px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: var(--dark-text);
}

.tuf-theme-option:hover {
  background-color: var(--accent-primary);
  color: var(--card-bg);
}
